/*Before we start the CSS file, i just wanted to say that i wanted to REALLY try for this one. CSS is my weak point, and i took this project to get better at it.*/


/*Global Stuff*/

* {
    font-family: 'Goudy Bookletter 1911', serif;
}

body {
    margin: 0 auto;
}


/*Front Page*/

#front-page-container {
    background-image: url(http://magic.wizards.com/sites/mtg/files/images/featured/OGW_header_preloader.jpg);
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.front-page {
    align-items: center;
    animation: fadeIn 2s;
    background-color: rgba(0, 0, 0, 0.4);
    color: aliceblue;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap;
    margin-top: 7%;
    padding: 10px;
    width: 25%;
}

.logo {
    opacity: 0;
    animation: rise 2s 2s forwards;
    margin-top: 5%;
}


/*Card Index Page*/

#card-index-container {
    background-image: url(http://magic.wizards.com/sites/mtg/files/images/featured/AER_Header_Preloader_0.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#card-show {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow-x: auto;
}

.newCard {
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
}


/*Deck Index Page*/

#deck-index-container {
    background-image: url(https://d.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2016/05/3059639-poster-1280-magic-the-gathering-lessons.jpg);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.deck-index {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: aliceblue;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: 30%;
}

.decks {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.deck {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.flavor-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    height: 25%;
    margin-right: 2%;
    width: 30%;
}


/*Miscellaneous Stuff*/

a {
    color: aliceblue;
}

a:visited {
    color: azure;
}

.buttons {
    background-color: rgba(0, 0, 0, 0.5);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


/*Animations start here*/


/*front page fades in*/

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


/*Front page logo rises from the bottom*/

@-webkit-keyframes rise {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(-10px);
        opacity: 1;
    }
}

@-moz-keyframes rise {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(-10px);
        opacity: 1;
    }
}

@-ms-keyframes rise {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(-10px);
        opacity: 1;
    }
}

@-o-keyframes rise {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(-10px);
        opacity: 1;
    }
}