<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet">
    <link href='/css/styles.css' rel='stylesheet'>
    <script type='text/javascript' src='/javascript/query.js'></script>
    <script type='text/javascript' src='/javascript/script.js'></script>
</head>

<body>
    <div id="card-index-container">
        <div class="buttons"><a href="/decks/">My decks</a></div>
        <h1>Find Cards Here!</h1>
        <form class='find-cards'>
            <label>Name: </label>
            <input class='name-input' type='text' placeholder='Card Name'>
            <label>Color: </label>
            <select class='color-input'>
                <option value=""></option>
                <option value="blue">Blue</option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="black">Black</option>
                <option value="white">White</option>
            </select>
            <label>Card Type:</label>
            <select class="type-input">
                <option value=""></option>
                <option value="creature">Creature</option>
                <option value="planeswalker">Planeswalker</option>
                <option value="land">Land</option>
                <option value="artifact">Artifact</option>
                <option value="sorcery">Sorcery</option>
                <option value="instant">Instant</option>
                <option value="enchantment">Enchantment</option>
                <option value=""></option>
            </select>
            <label>Card Text:</label>
            <input class='text-input' type='text' placeholder='Card Text'>
            <input type="submit" value='submit'> </form>
        <div id="card-show"></div>
    </div>
</body>

</html>