<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet">
    <link href='/css/styles.css' rel='stylesheet'>
    <script type='text/javascript' src='/javascript/query.js'></script>
    <script type='text/javascript' src='/javascript/script.js'></script>
</head>

<body>
    <div id="deck-index-container">
        <div class="deck-index">
            <div class="buttons"><a href="/cards/">Card Search</a> <a href="/decks/new">Create New Deck</a></div>
            <h1>My Decks:</h1>
            <div class="decks"> {{#decks}}
                <div class="deck">
                    <p>Deck ID: {{deckid}}</p> <a href="/decks/{{deckid}}"><h2>{{deck_name}}</h2></a>
                    <p>{{description}}</p>
                </div> {{/decks}} </div>
        </div>
        <div class="flavor-text">
            <section>Your Decks will appear here when you create them. All of your cards will be in Your Collection before you re-assign them to a deck you choose. The deck ID is shown above the deck name</section>
        </div>
    </div>
</body>

</html>