<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet">
    <link href='/css/styles.css' rel='stylesheet'>
    <script type='text/javascript' src='/javascript/query.js'></script>
    <script type='text/javascript' src='/javascript/script.js'></script>
</head>

<body>
    <div id="new-deck-container">
        <div class="buttons"> <a href="/decks">Back to decks</a> <a href="/cards/">Back to Card Search</a></div>
        <div class="make-new-deck">
            <h1>Create a New Deck</h1>
            <form class='new-deck'>
                <label>New Deck Name:</label>
                <input type='text' class='deck-name-input' placeholder='Deck Name'>
                <label>Write a Description:</label>
                <textarea class='deck-description-input' placeholder='Write something about your deck here'></textarea>
                <input type='submit'> </form>
        </div>
    </div>
</body>

</html>