<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet">
    <link href='/css/styles.css' rel='stylesheet'>
    <script type='text/javascript' src='/javascript/query.js'></script>
    <script type='text/javascript' src='/javascript/script.js'></script>
</head>

<body>
    <div id="deck-show-container">
        <div class="buttons"> <a href="/decks/">Back to all Decks</a> <a href="/cards/">Back to Card Search</a> {{#deck.0}} <a href="/decks/{{deck_id}}/edit">Change this deck's name or description</a> {{/deck.0}}
            <div class="delete-button">Delete this Deck?</div>
        </div>
        <div class="deck-show">
            <h2>Click a card's image to find out more about it</h2>
            <div class="deck-list"> {{#deck}}
                <div class="card">
                    <a class='show-id' data-id={{deck_id}} href='/cards/{{card_id}}'><img src={{image}} /></a>
                </div>{{/deck}}</div>
            <button class="generate-hand">Generate a Sample Hand</button>
            <div class="sample-hand"> </div>
        </div>
    </div>
    <!-- took the deck.0 trick from the harry potter CRUD solution. 
    I see why it works though, it lets you loop through again using only the 'first element' in the data array
    Which is useful when you're trying to loop again separately.
    So thanks, Matt! -->
</body>

</html>