<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type='text/javascript' src='/javascript/query.js'></script>
    <script type='text/javascript' src='/javascript/script.js'></script>
</head>

<body>
    <h1>This Deck:</h1> {{#deck}}
    <h2>{{card_name}}</h2>
    <h3>Combined Mana Cost: {{cost}}</h3> <img src="{{image}}" />
    <p>{{oracle_text}}</p>
    <p>{{power}}/{{toughness}}</p> {{/deck}} <a href="/cards/">Add More Cards</a></body>

</html>