<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type='text/javascript' src='/javascript/query.js'></script>
    <script type='text/javascript' src='/javascript/script.js'></script>
</head>

<body>
    <h1>This Deck:</h1>
    <h2>Click the card's image to assign it to a deck</h2> {{#deck}}
    <h2>{{card_name}}</h2>
    <h3>Combined Mana Cost: {{cost}}</h3>
    <a href='/cards/{{card_id}}'><img src="{{image}}" /></a>
    <p>{{oracle_text}}</p>
    <p>Power/Toughness: {{power}}/{{toughness}}</p> <a href="/decks/{{id}}/edit">Change this deck's name or description</a>{{/deck}} <a href="/cards/">Add More Cards</a> </body>

</html>