<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css"> </head>

<body>
    <main>
        <section>
            <form action="/users" method="POST">
                <label for="username">Username</label>
                <br>
                <input id="username" type="text" name="user[username]" placeholder="Your username here">
                <br>
                <label for="password">Password</label>
                <br>
                <input id="password" type="password" name="user[password]" placeholder="New Password">
                <br>
                <input type="submit" value="Sign Up"> </form>
        </section>
    </main>
</body>

</html>